* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

/* <h1> 1 Hover on Simpson to see a Difference.</h1> */
.hoverImg {
  width: 200px;
  height: 200px;
  background-image: url(img/1.png);
  transition: all 2s ease-out; /*Apply to all elements*/
  margin: 20px;
  border: 8px solid tomato;
  /* transition: border 2s ease-out;  This can be used if only for 1 elemet*/
}

.hoverImg:hover {
  background-image: url(img/2.png);
  border: 40px solid teal;
}

/* <h1> 2 Hover on Circle to see a Difference</h1> */
.hoverCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: turquoise;
  transition: width 2s, height 3s, border-radius 3s, background-color 5s,
    transform 3s;
}

.hoverCircle:hover {
  background-color: tomato;
  width: 300px;
  height: 300px;
  border-radius: 0;
  transform: rotate(2700deg);
  /* transform: translate(50px); */
}
/* 
<h1> 3 Click Anywhere to move the target</h1> */

#ball i {
  font-size: 4em;
  color: tomato;
}

#ball {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}

.hoverSoundWave {
  width: 90%;
  height: 200px;
  background-image: url(img/sound.png);
}

.hoverSoundWave:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.title {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.heading1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.75;
  margin: 10px 0;
}

.container {
  background-color: #111;
}
